<template>
  <section>
    <Navbar />
    <div class="container">
      <div class="list-product">
        <div v-for="item in list" :key="item.id">
          <router-link
            :to="{ name: 'ProductDetails', params: { id: item.id } }"
            tag="div"
          >
            <div class="products">
              <img
                :src="rootImagePath + item.images[0].path"
                alt="Product image"
                class="images"
              />
              <p>{{ item.name }}</p>
              <p>Price: {{ item.price }}$</p>
            </div>
          </router-link>
        </div>
      </div>
    </div>
    <infinite-loading
      spinner="bubbles"
      @distance="1"
      @infinite="infiniteHandler"
    >
      <div slot="no-more" class="text-white">No more!</div>
    </infinite-loading>
  </section>
</template>

<script>
// Import component
import Navbar from "@/components/Navbar";
import { imagePath } from "@/consts.js";
import Api from "../../apis/Api";

export default {
  name: "Products",
  components: {
    Navbar,
  },
  data() {
    return {
      page: 1,
      list: [],
      rootImagePath: imagePath,
    };
  },

  methods: {
    infiniteHandler($state) {
      Api()
        .get(`/products`, {
          params: {
            page: this.page,
          },
        })
        .then(({ data }) => {
          console.log(data);
          if (data.data.length) {
            this.page += 1;
            this.list.push(...data.data);
            $state.loaded();
          } else {
            $state.complete();
          }
        });
    },
  },
};
</script>
<style scoped>
.list-product {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-column-gap: 0.5vw;
  grid-row-gap: 0.5vw;
}

.products {
  width: 12vw;
  height: 22vw;
  border: 1px solid #f3f3f3;
  cursor: pointer;
  transition-duration: 300ms;
}

.products:hover {
  box-shadow: 4px 16px 16px hsl(0deg 0% 0% /0.25);
}

.products:hover .images {
  transform: translateY(-1.5rem);
  --tw-translate-y: -1.5rem;
}

img.images {
  padding-top: 2vw;
  width: 8vw;
  transition-duration: 500ms;
}
</style>
