<template>
  <section>
    <Navbar />
    <div class="container box">
      <div>
        <p id="title">Điện thoại iPhone 13 Pro Max 128GB</p>
      </div>
      <div id="product">
        <div>
          <Carousel :items="items" />
        </div>
        <!-- Product detail -->
        <div>
          <div class="product-option">
            <b-button
              type="is-info"
              :focused="true"
              outlined
              :label="storage"
            ></b-button>
          </div>
          <div class="product-option buttons">
            <b-button
              :class="color.id === selectedColor.id ? 'is-focused' : ''"
              v-for="color in colors"
              :key="color.id"
              type="is-danger"
              outlined
              @click="handleSelectColor(color.id, color.color)"
            >
              {{ color.color }}
            </b-button>
          </div>

          <div class="product-price">
            <p>
              {{
                price.toLocaleString("en-US", {
                  style: "currency",
                  currency: "VND",
                })
              }}
            </p>
          </div>
          <div>
            <ProductOptions />
          </div>

          <!-- Btn add to cart -->
          <div class="btn-add-to-cart" v-show="getRole !== adminRole">
            <b-button
              expanded
              type="is-info"
              outlined
              @click="handleAddProductToCart"
              >Thêm vào giỏ hàng
            </b-button>
          </div>
        </div>
      </div>
    </div>

    <div class="container buttons">
      <!-- Description -->
      <b-button
        label="Xem mô tả sản phẩm"
        type="is-primary"
        outlined
        @click="isCurrentTabComponent = 'Description'"
      ></b-button>

      <!--  Comment  -->
      <b-button
        label="Xem bình luận"
        type="is-primary"
        outlined
        @click="isCurrentTabComponent = 'Comments'"
      ></b-button>
    </div>

    <!--  Dynamic components  -->
    <keep-alive>
      <component
        v-bind:is="isCurrentTabComponent"
        :data="currentProps"
      ></component>
    </keep-alive>
  </section>
</template>

<script>
// Import component
import Navbar from "@/components/Navbar";
import Carousel from "@/components/ProductDetails/Carousel";
import ProductOptions from "@/components/ProductDetails/ProductOptions";
import Comments from "../../components/Comments/Users/Comments";
import Description from "../../components/ProductDetails/Description";
// Vuex
import { mapState, mapGetters, mapActions } from "vuex";
// Root path
import { imagePath } from "../../consts";
// Role
import { ROLE } from "../../consts";

export default {
  name: "ProductDetail",
  props: ["id"],
  components: {
    Description,
    Navbar,
    Carousel,
    ProductOptions,
    Comments,
  },

  watch: {
    quantity(newValue) {
      if (newValue <= 0) {
        this.quantity = 1;
      }
    },
  },
  data: function () {
    return {
      product: {},
      price: 0,
      storage: "",
      selectedColor: {
        id: null,
        name: "",
      },
      colors: [],
      items: [], // To prop to carousel component
      rootImagePath: imagePath,
      quantity: 1,
      upperCaseText: "uppercase",
      adminRole: ROLE.SUPER_ADMIN,
      isCurrentTabComponent: "Comments",
    };
  },
  computed: {
    ...mapState("CARTS", ["isItemAddToCart"]),
    ...mapGetters("AUTH", ["getRole"]),

    currentProps() {
      if (this.isCurrentTabComponent === "Description") {
        return this.product;
      }
    },
  },
  created() {
    this.handleGetDetailProducts();
  },

  methods: {
    ...mapActions("PRODUCTS", ["getProductDetails"]),
    ...mapActions("CARTS", ["addToCart"]),
    async handleGetDetailProducts() {
      try {
        const response = await this.getProductDetails(this.id);
        this.product = response.data.product;
        this.price = response.data.product.price;
        this.storage = response.data.product.storage.storage;
        this.colors = response.data.product.colors;
        this.selectedColor.id = this.colors[0].id;
        this.selectedColor.name = this.colors[0].color;
        let images = response.data.product.images;
        this.items = images.map((element, index) => {
          return {
            title: `Image ${index}`,
            image: `${this.rootImagePath}${element.path}`,
          };
        });
      } catch (error) {
        console.log(error);
      }
    },

    handleSelectColor(id, name) {
      this.selectedColor = {
        id: id,
        name: name,
      };
    },

    checkIsANumber(number) {
      if (number !== null && Number.isInteger(number)) {
        return true;
      } else {
        this.$buefy.toast.open({
          message: "Có lỗi xảy ra, vui lòng thử lại!",
          position: "is-top-right",
          type: "is-warning",
          pauseOnHover: true,
        });
      }
    },

    handleAddProductToCart() {
      if (this.checkIsANumber(this.selectedColor.id)) {
        const productClone = {
          ...this.product,
          color_id: this.selectedColor.id,
          color_name: this.selectedColor.name,
        };

        this.addToCart(productClone);

        if (this.isItemAddToCart === false) {
          this.$buefy.toast.open({
            message: "Thêm vào giỏ hàng thành công!",
            position: "is-top-right",
            type: "is-success",
            pauseOnHover: true,
          });
        } else {
          this.$buefy.toast.open({
            message: "Sản phẩm đã có sẵn trong giỏ hàng!",
            position: "is-top-right",
            type: "is-warning",
            pauseOnHover: true,
          });
        }
      }
    },
  },
};
</script>

<style scoped>
#product > div:nth-child(1) {
  width: 50%;
  height: 394.133px;
  min-height: 394px;
}

#title {
  font-weight: bold;
  text-align: left;
  font-size: 18px;
}

#product {
  display: flex;
  border-top: 1px solid #e0e0e0;
  padding-top: 15px;
  overflow: hidden;
  margin-top: 15px;
  clear: both;
  flex-direction: row;
  justify-content: space-evenly;
}

div.product-option {
  margin: 5px 0;
  text-align: left;
}

.product-option > button {
  margin-right: 5px;
}

.product-price {
  color: #d0021c;
  font-size: 20px;
  font-weight: bold;
  text-align: left;
}

.btn-add-to-cart {
  text-align: left;
  padding-top: 5px;
}
</style>
