<template>
  <section id="orders">
    <NavBar />
    <div class="container">
      <div class="box menu">
        <div>Tất cả</div>
        <div>Chờ xác nhận</div>
        <div>Chờ lấy hàng</div>
        <div>Đã Giao</div>
        <div>Đã huỷ</div>
      </div>
      <div class="box list-orders" v-for="order in list" :key="order.id">
        <div>Mã đơn hàng{{ order.id }}</div>
        <div>
          Tổng tiền
          {{
            order.total_price.toLocaleString("en-US", {
              style: "currency",
              currency: "VND",
            })
          }}
        </div>
        <div>
          <div v-if="order.status == 1" style="color: blue">
            Đang chờ duyệt đơn hàng
          </div>
          <div v-else-if="order.status == 2" style="color: green">
            Đã được duyệt và gửi đi
          </div>
          <div v-else style="color: red">Đã huỷ</div>
        </div>
        <div>
          <b-button
            tag="router-link"
            :to="{ name: 'OrderDetails', params: { id: order.id } }"
            type="is-primary is-light"
            label="Chi tiết"
          ></b-button>
        </div>
      </div>

      <!-- Loading more -->
      <infinite-loading
        @distance="1"
        @infinite="infiniteHandler"
        spinner="bubbles"
      >
        <div class="text-white" slot="no-more">No more!</div>
      </infinite-loading>
    </div>
  </section>
</template>

<script>
  import NavBar from "@/components/Navbar.vue";
  import { mapState, mapActions } from "vuex";
  import Api from "../../apis/Api";

  export default {
    name: "Orders",
    components: {
      NavBar,
    },
    data() {
      return {
        page: 1,
        list: [],
      };
    },
    computed: {
      ...mapState("AUTH", ["userInfo"]),
    },
    methods: {
      ...mapActions("ORDERS", ["getOrderOfUser"]),

      infiniteHandler($state) {
        Api()
          .get(`/users/${this.userInfo.id}/orders`, {
            params: {
              page: this.page,
            },
          })
          .then(({ data }) => {
            console.log(data);
            if (data.data.length) {
              this.page += 1;
              this.list.push(...data.data);
              $state.loaded();
            } else {
              $state.complete();
            }
          });
      },
    },
  };
</script>

<style scoped>
  .menu {
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
  }
  #orders {
    background-color: #f5f5f5;
    height: 100vh;
  }
  .list-orders {
    display: flex;
    justify-content: space-evenly;
  }
  .list-orders > div {
    width: 25%;
    margin: auto;
    text-align: center;
  }
</style>
