<template>
  <section id="order-details">
    <Navbar />
    <div class="container">
      <h1>Chi tiết đơn hàng</h1>
      <div class="content block">
        dia chi nhan hang
        <h3>{{ orders.name }}</h3>
        <p>(+84) {{ orders.phone }}</p>
        <p>{{ orders.address }}</p>
      </div>

      <div
        v-for="orderDetail in orderDetails"
        :key="orderDetail.id"
        class="box content list-item"
      >
        <div>
          <div>
            <img
              class="product-image"
              :src="`${rootImagePath}${orderDetail.product.images[0].path}`"
              alt=""
            />
          </div>
          <div>{{ orderDetail.product.name }}</div>
          <div class="pending" v-if="orders.status === 1">
            Đang đợi kiểm duyệt
          </div>
          <div class="approve" v-else-if="orders.status === 2">Đã bàn giao</div>
          <div class="cancel" v-else>Đã hủy</div>
        </div>

        <div>
          <b-button
            tag="router-link"
            :to="{
              name: 'ProductDetails',
              params: { id: orderDetail.product.id },
            }"
            type="is-primary is-light"
            >Xem sản phẩm</b-button
          >
          <UserComments :productId="orderDetail.product.id" />
          <CommentDetails
            :productName="orderDetail.product.name"
            :productId="orderDetail.product.id"
            :productImage="`${rootImagePath}${orderDetail.product.images[0].path}`"
          />
        </div>
      </div>
    </div>
  </section>
</template>
<script>
  import Navbar from "@/components/Navbar";
  import UserComments from "@/components/Comments/Users/UserComments";
  import CommentDetails from "@/components/Comments/Users/CommentDetails";
  import { mapState, mapActions } from "vuex";
  import { imagePath } from "@/consts.js";

  export default {
    name: "OrderDetails",
    components: { Navbar, UserComments, CommentDetails },
    computed: {
      ...mapState("AUTH", ["userInfo"]),
    },
    data() {
      return {
        orders: {},
        orderDetails: [],
        voucherDetails: {},
        rootImagePath: imagePath,
      };
    },
    created() {
      this.handleGetOrderDetail();
    },
    methods: {
      ...mapActions("ORDERS", ["getOrderDetails"]),

      async handleGetOrderDetail() {
        try {
          const response = await this.getOrderDetails(this.$route.params.id);
          this.orders = response.data.orders;
          this.orderDetails = response.data.orderDetails;

          if (response.data.voucherDetails !== null) {
            this.voucherDetails = response.data.voucherDetails;
          }
        } catch (error) {}
      },
    },
  };
</script>
<style>
  .pending {
    color: #0ff1c3;
  }
  .approve {
    color: #1155ff;
  }
  .cancel {
    color: #ff4466;
  }
  .product-image {
    width: 205px;
    height: 130px;
  }

  .list-item {
    display: flex;
    justify-content: space-between;
  }
  .list-item > :nth-child(2) {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
</style>
