<template>
  <section>
    <div class="buttons">
      <b-button
        style="color: #4336f4"
        label="Chọn hoặc nhập mã giảm giá"
        type="is-text"
        @click="isCardModalActive = true"
      />
    </div>

    <b-modal v-model="isCardModalActive" :width="640" scroll="keep">
      <div class="card">
        <div style="padding: 10px"></div>
        <div class="cart-header">
          <h1>Nhập Voucher</h1>
        </div>

        <div class="card-content">
          <b-field label="Mã Voucher">
            <b-input
              placeholder="Nhập Voucher"
              v-model="voucherCode"
              size="is-medium"
            >
            </b-input>
          </b-field>

          <!-- List voucher available -->
          <div
            v-if="
              listVoucherAvailable != undefined &&
              listVoucherAvailable.length != 0
            "
          >
            <div
              v-for="voucher in listVoucherAvailable"
              :key="voucher.id"
              class="box"
            >
              <div>
                <div class="title">{{ voucher.title }}</div>
                <div class="discount">Giảm: {{ voucher.discount }}%</div>
                <div class="content">HSD: {{ voucher.date_end }}</div>
              </div>
              <div style="text-align: end">
                <b-button
                  @click="handleSelectVoucherCode(voucher.code)"
                  type="is-primary"
                  >Sử dụng mã này</b-button
                >
              </div>
            </div>
          </div>
        </div>

        <div class="cart-footer">
          <div>
            <div></div>
            <div>
              <b-button type="is-text" @click="closeModal">Trở Lại</b-button>
              <b-button type="is-success" @click="handleSetVoucherCode"
                >Sử dụng voucher này
              </b-button>
            </div>
          </div>
        </div>
        <div style="padding: 10px"></div>
      </div>
    </b-modal>
  </section>
</template>

<script>
  // Import vuex
  import { mapGetters, mapActions } from "vuex";

  export default {
    data() {
      return {
        isCardModalActive: false,
        voucherCode: null,
        listVoucherAvailable: [],
      };
    },
    computed: {
      ...mapGetters("VOUCHERS", ["getVoucherCode"]),
      ...mapGetters("CARTS", ["getTotalPrice"]),
    },
    created() {
      this.handleGetVoucherCodeWithMinPrice();
    },
    methods: {
      ...mapActions("VOUCHERS", [
        "selectVoucherCode",
        "checkVoucherCodeIsInvalid",
        "getVoucherCodeWithMinPrice",
      ]),

      handleSetVoucherCode() {
        this.selectVoucherCode(this.voucherCode);
        this.isCardModalActive = false;
        if (this.voucherCode !== null) {
          this.checkVoucherCodeIsInvalid(this.voucherCode);
        }
      },

      // User click button select voucher code
      handleSelectVoucherCode(voucherCode) {
        this.selectVoucherCode(voucherCode);
        this.voucherCode = voucherCode;
        if (this.voucherCode !== null) {
          this.checkVoucherCodeIsInvalid(this.voucherCode);
        }
        this.closeModal();
      },

      async handleGetVoucherCodeWithMinPrice() {
        try {
          const response = await this.getVoucherCodeWithMinPrice(
            this.getTotalPrice
          );
          this.listVoucherAvailable = response.data;
        } catch (error) {
          console.log(error);
        }
      },

      closeModal() {
        this.isCardModalActive = false;
      },
    },
  };
</script>
<style>
  .card-content {
    text-align: left;
  }

  .cart-header {
    text-align: center;
  }

  .cart-footer > :nth-child(1) {
    display: flex;
    justify-content: space-between;
    padding-right: 20px;
  }
</style>
