<template>
  <div style="padding-top: 30px">
    <div class="box">
      <b-field label="Tên của bạn">
        <b-input
          type="text"
          v-model="formOrder.name"
          placeholder="Eg: Tony Tran"
        ></b-input>
      </b-field>
      <b-field label="Số điện thoại">
        <b-input
          type="text"
          v-model.number="formOrder.phone"
          placeholder="Eg: 0984641xxx"
        ></b-input>
      </b-field>
      <b-field label="Địa chỉ">
        <b-input
          type="text"
          v-model="formOrder.address"
          placeholder="Eg: Da Nang, Hai Chau, 81 Quang Trung"
        ></b-input>
      </b-field>
      <!-- Button submit form order -->
      <div class="footer-form-order">
        <b-field v-show="isAuthenticated === true">
          <b-button
            type="is-primary is-light"
            class="bg-white rounded px-2"
            @click="changeOrderAddress(formOrder)"
          >
            Chọn địa chỉ này trong lần giao hàng này
          </b-button>
        </b-field>

        <b-field v-show="isAuthenticated === true">
          <b-button
            type="is-success is-light"
            class="bg-white rounded px-2"
            @click="restoreOrderAddress"
          >
            Chọn địa chỉ mặt định của tôi
          </b-button>
        </b-field>

        <!-- Guest -->
        <b-field v-show="isAuthenticated === false">
          <b-button
            type="is-warning is-light"
            class="bg-white rounded px-2"
            @click="changeOrderAddress(formOrder)"
          >
            Gửi hàng đến địa chỉ này
          </b-button>
        </b-field>
      </div>
    </div>
  </div>
</template>

<script>
  import { mapGetters, mapActions } from "vuex";

  export default {
    computed: {
      ...mapGetters("AUTH", ["isAuthenticated"]),
    },

    data() {
      return {
        formOrder: {
          name: "",
          phone: "",
          address: "",
        },
      };
    },

    methods: {
      ...mapActions("ORDERS", [
        "setDefaultOrderAddress",
        "changeOrderAddress",
        "restoreOrderAddress",
      ]),
    },
  };
</script>

<style scoped>
  .footer-form-order {
    display: flex;

    justify-content: space-between;
  }
</style>
