<template>
  <div>
    <div v-if="isEmptyComment == false">
      <b-button
        label="Xem đánh giá của tôi"
        type="is-info is-light"
        expanded
        @click="isCommentDetailModalActive = true"
      ></b-button>
      <b-modal v-model="isCommentDetailModalActive" :width="640" scroll="keep">
        <div class="card">
          <div class="card-header">
            <p style="text-align: center">{{ productName }}</p>
          </div>
          <div class="card-image">
            <figure class="image is-4by3">
              <img :src="productImage" class="product-image" alt="Image" />
            </figure>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-left">
                <figure class="image">
                  <img
                    class="avatar-image"
                    src="https://i.pinimg.com/564x/6b/f1/ec/6bf1ecfbb55b65884c7aca64ee900269.jpg"
                    alt="Image"
                  />
                </figure>
              </div>
              <div class="media-content">
                <p class="title is-4">{{ userInfo.name }}</p>
                <p class="subtitle is-6">{{ userInfo.email }}</p>
              </div>
            </div>
            <RatingDetails :ratePoint="point" />
            <div class="content">
              {{ content }}
              <br />
              <UserEditComments :commentId="commentId" :currentContent="content" :currentPoint="point" :ratingId="ratingId" v-on:get-detail-comment="handleGetDetailComment(); handleCloseModal()" />
            </div>
          </div>
        </div>
      </b-modal>
    </div>
  </div>
</template>

<script>
  import { mapState, mapActions } from "vuex";
  import RatingDetails from "@/components/Comments/Ratings/RatingDetails.vue";
  import UserEditComments from "./UserEditComments";

  export default {
    name: "CommentDetails",
    props: ["productId", "productName", "productImage"],
    components: {
      RatingDetails,
      UserEditComments
    },
    computed: {
      ...mapState("AUTH", ["userInfo"]),
      ...mapState("COMMENTS", ["isEmptyComment"]),
    },

    data() {
      return {
        isCommentDetailModalActive: false,
        content: "",
        time: "",
        point: 0,
        commentId: 0,
        ratingId: 0,
      };
    },
    created() {
      this.handleGetDetailComment();
    },
    updated() {
      this.handleGetDetailComment();
    },
    methods: {
      ...mapActions("COMMENTS", ["getDetailComments", "checkIsEmptyComment"]),

      async handleGetDetailComment() {
        const payload = {
          userId: this.userInfo.id,
          productId: this.productId,
        };
        try {
          const response = await this.getDetailComments(payload);
          this.content = response.data.comment.content;
          // this.time = this.formatDate(response.data.updated_at);
          this.point = response.data.rating.point;
          this.commentId = response.data.comment.id;
          this.ratingId = response.data.rating.id;

          if (response.data.comment == null && response.data.rating == null) {
            this.checkIsEmptyComment(true);
          } else {
            this.checkIsEmptyComment(false);
          }
        } catch (error) {}
      },

      // close modal
      handleCloseModal() {
        this.isCommentDetailModalActive = false;
      },
      // pad2(n) {
      //   return (n < 10 ? "0" : "") + n;
      // },
      // formatDate(date) {
      //   let day = this.pad2(date.getDate());
      //   let month = this.pad2(date.getMonth() + 1);
      //   let year = date.getFullYear();
      //   const newDate = `${day}-${month}-${year}`;
      //   return newDate;
      // },
    },
  };
</script>

<style scoped>
  .avatar-image {
    width: 48px;
    height: 48px;
    border-radius: 50%;
  }

  .product-image {
    max-height: 300px;
    padding-top: 40px;
  }
</style>
