<template>
  <section id="user-edit-comments">
    <div>
      <b-button
        label="Chỉnh sửa"
        type="is-success"
        @click="isImageModalActive = true"
      />

      <b-modal v-model="isImageModalActive" :width="640" scroll="keep">
        <div class="card">
          <div class="content">
            <UserRatings :point="currentPoint" />
            <b-field label="Comment">
              <b-input
                maxlength="200"
                v-model="content"
                type="textarea"
              ></b-input>
            </b-field>

            <b-button
              label="Cập nhật bình luận"
              type="is-primary is-light"
              @click="handleUpdateCommentAndRating"
            ></b-button>
          </div>
        </div>
      </b-modal>
    </div>
  </section>
</template>
<script>
  import UserRatings from "@/components/Comments/Ratings/UserRatings";
  import { mapState, mapActions } from "vuex";

  export default {
    name: "UserEditComments",
    props: {
      commentId: Number,
      ratingId: Number,
      currentContent: String,
      currentPoint: Number,
    },

    components: {
      UserRatings,
    },

    computed: {
      ...mapState("AUTH", ["userInfo"]),
      ...mapState("COMMENTS", ["ratingPoint"]),
    },

    data() {
      return {
        content: "",
        isImageModalActive: false,
      };
    },
    created() {
      this.content = this.currentContent;
    },
    methods: {
      ...mapActions("COMMENTS", [
        "handleSetRatingProduct",
        "updateCommentAndRating",
      ]),

      async handleUpdateCommentAndRating() {
        const formData = {
          point: this.ratingPoint,
          content: this.content,
          commentId: this.commentId,
          ratingId: this.ratingId,
        };
        const response = await this.updateCommentAndRating(formData);
        console.log(response.data);
        this.handleCloseModal();
        this.handleSetRatingProduct(1);
        this.$buefy.toast.open({
          duration: 3000,
          message: "Đã cập nhật đánh giá của bạn!",
          position: "is-top-right",
          type: "is-success",
          pauseOnHover: true,
        });
      },

      handleCloseModal() {
        this.isImageModalActive = false;
        this.$emit("get-detail-comment");
      },
    },
  };
</script>
<style scoped></style>
